{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, {label:'Prenom'}) }}
        {{ form_row(registrationForm.name,{label:'Nom'}) }} 
        {{ form_row(registrationForm.email,{label:'adresse mail'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mote de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {label: "j'accepte les conditions d'utilisations"}) }}

        <button type="submit" class="btn">Se connecter</button>
    {{ form_end(registrationForm) }}
{% endblock %}
