{% extends 'base.html.twig' %}

{% block title %}
    <h3>symBlog:Detail article</h3>   
{% endblock %}

{% block body %}

    <h1 class="text-center bg-dark text-white p-2 mt-3">Détail  article</h1>
    <article class="articles mb-3">
        <h3> {{article.title}} </h3>
        <em>(Créé le {{article.createdAt| date('d/m/y')}} dans la catégorie {{article.category.name}})</em>
        <div>
            <img src="{{article.picture}}"alt="">
            <p> {{article.content}}</p>     
        </div>
    </article>
    <div>
        <a class="btn btn-outline-warning" href="#">Modifier</a>
        <a class="btn btn-dark" href="{{path('blog_index')}}">retour aux articles</a>
    </div>
    <div>
        <h2>Commentaires</h2>
        {% if article.comments is not empty %}
            {% set comments = article.comments %}
            {% for com in comments %}
                <div class ="row mb-3">
                    <div class="col-3">
                        {{com.author}}
                        <em>{{com.createdAt|date('d/m/y')}}</em>
                    </div>
                    <div class="col">
                        {{com.content}}
                    </div>    
                </div>
            {% endfor %}
        {% else %}
            <h4>Pas de commentaire</h4>
        {% endif %}
    </div>
    <div>
        <p>Laissez un avis</p>
        {% if not app.user %}
            <a href="{{path('app_login')}}"> se connecter</a>
        {% else %}
            {{form_start(formCom)}}
            {{ form_row(formCom.author) }}
            {{ form_row(formCom.content) }}
            <button type="submit">Envoyer</button>
            {{ form_end(formCom) }}
        {% endif %}
    </div>
{% endblock %}