{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
    <h1 class="text-center">Les articles</h1>
    <div class="articles">

    {% if articles is not empty %}

        {% for art in articles %}
            <article class="articles mb-3">
                <h3> {{art.title}} </h3>
                <em>(Créé le {{art.createdAt| date('d/m/y')}} dans la catégorie {{art.category.name}})</em>
                <div>
                    <img src="{{art.picture}}" alt="">
                    <a class="btn btn-primary"href="{{path('blog_detail_art',{id:art.id})}}">Voir la suite...</a>
                </div>
            </article>
        {% endfor %}

    {% else %}
        <h3>Aucun article disponible</h3>
    {% endif %}



        
    </div>
{% endblock %}
